.resource-item
  text-decoration: none;
  display: flex;
  flex-direction: row;
  color: #000000e0;
  align-items: center;

  .resource-item--image-container
    margin-right: 1rem;
    img 
      max-height: 170px;

  h2
    margin-bottom: 0rem;
  
  p 
    line-height: 1.2rem;