.article-card
  width: 44%;;
  min-height: 400px;
  margin-bottom: 2.5rem;

  .article-card--image-container
    min-height: 170px;
    display: block;
    img 
      margin: 0px;
      border-radius: 2px;
  
  .article-card--content
    margin-top: 1rem;

    .date-posted
      display: flex;
      flex-direction: row;
      align-items: center;
      opacity: 1;

      img 
        margin: 0px;
        height: 12px;
        margin-right: 0.275rem;
      div
        font-size: 0.8rem;
        display: inline-block;
        font-weight: 500;

    .article-card--title
      font-weight: 500;
      font-size: 1.5rem;
      text-decoration: none;
      color: hsla(0, 0%, 0%, 0.8);

    .article-card--description
      font-size: 1rem;
      line-height: 1.6rem;
      margin-top: 0.25rem;
      opacity: 0.98;