.article-container
  max-width: 800px;
  padding-right: 2rem;

  h1.article-title 
    margin-bottom: 0.25rem;

  .article-category
    text-decoration: none;

  .article-meta-container
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.6
    
    .article-meta--bullet-point
      margin-left: 0.5rem;
      margin-right: 0.5rem;
  
    p.author-name
      font-size: 1rem;
      margin: 0px;
      font-weight: normal;


  ul
    background: #7de77b2b;
    box-shadow: 0px 3px 4px 0px #cbe6cb5c;
    padding-left: 2.5rem;
    margin-left: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;