.article-container
  h1.article-title 
    margin-bottom: 0.25rem;

  .article-meta-container
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.6
    
    .article-meta--bullet-point
      margin-left: 0.5rem;
      margin-right: 0.5rem;
  
    p.author-name
      font-size: 1rem;
      margin: 0px;
      font-weight: normal;

    .date-posted
      display: flex;
      flex-direction: row;
      align-items: center;

      img 
        margin: 0px;
        height: 12px;
        margin-right: 0.275rem;
      div
        font-size: 1rem;
        display: inline-block;

  blockquote
    p 
      opacity: 0.5;
      font-size: 1.5rem;
      font-style: inherit;
      border-left: solid 0.25rem;
      padding-left: 1rem;
      background: #0000000f;