.article-card
  width: 48%;
  min-height: 400px;
  margin-bottom: 1.5rem;

  .article-card--image-container
    min-height: 170px;
    display: block;
    img 
      margin: 0px;
  
  .article-card--content
    .date-posted
      display: flex;
      flex-direction: row;
      align-items: center;
      opacity: 0.6

      img 
        margin: 0px;
        height: 12px;
        margin-right: 0.275rem;
      div
        font-size: 12px;
        display: inline-block;

    .article-card--title
      font-weight: bold;
      font-size: 1.5rem;
      text-decoration: none;
      color: hsla(0, 0%, 0%, 0.8);

    .article-card--description
      font-size: 14px;
      line-height: 1.2rem;
      margin-top: 0.25rem;
      opacity: 0.7;