.custom-slant .native-banner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 36px;
  padding: 18px;
  border: 1px solid #e6e8eb;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .05);
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  align-items: left;
  ;
}

.custom-slant .native-sponsor-container {
  overflow: hidden;
  border-top-left-radius: 4px;
}

.custom-slant .native-sponsor {
  display: inline-flex;
  margin-bottom: 20px;
  padding: 0 10px;
  background-image: linear-gradient(135deg, #6154F8cc, #6154F8);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 12px;
  transform: skewX(-22deg);
  transform-origin: top left;
  pointer-events: none;

  align-items: center;
}

.custom-slant .native-sponsor:after {
  position: absolute;
  top: 4px;
  right: 5px;
  width: 3px;
  height: calc(100% - 8px);
  background-color: #fff;
  content: "";
}

.custom-slant .native-sponsor > div {
  padding: 8px 10px;
  transform: skewX(22deg);
}

.custom-slant .native-company {
  border-left: 2px solid #fff;
}

.custom-slant .native-main {
  display: flex;
}

.custom-slant .native-logo {
  display: block;
  box-sizing: border-box;
  margin-right: 20px;
  padding: 20px 30px;
  width: 180px;
  height: 100%;
  border-radius: 8px;
}

.custom-slant .native-text {
  display: flex;
  flex-direction: column;
  color: #0d0d0d;
  line-height: 1.4;

  align-items: flex-start;
}

.custom-slant .native-tagline {
  font-weight: 600;
  font-size: 20px;
}

.custom-slant .native-description {
  margin-bottom: 6px;
  font-size: 16px;
}

.custom-slant .native-cta {
  display: flex;
  padding: 8px 14px;
  border-radius: 4px;
  background-color: #323641;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .4px;
  font-weight: 600;
  font-size: 12px;
}
