@import '../../../assets/styles/variables'

.course-header
  
  padding-left: 2rem;
  padding-right: 2rem;

  .inner
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 950px)
      flex-direction: column;
  
    .content-container
      margin-left: 2rem;

    .course-summary-container
      padding-right: 2rem;

      @media (max-width: 950px)
        padding-right: 0;
        margin-bottom: 2rem;

