.recent-articles-container
  h2 
    margin-bottom: 0;
    
  .recent-articles
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
    
    .article-card:nth-child(odd) 
      margin-right: 2%;