.wiki
  max-width: 800px;
  margin: 0 auto;

  .wiki-image
    width: 100%;
    transition: 0.2s all;

  .wiki-content
    
    img 
      width: 100%;

    h2 
      margin-top: 3rem;
      margin-bottom: 1.2rem;