@import '../../../../assets/styles/variables.sass'
  
.navigation 
  min-width: 100px;
  a 
    display: block;
  @media (max-width: $mobile-breakpoint)
    display: none;
    padding-bottom: 1em;
  .space
    opacity: 0;
    