.blog-card
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .icon-container
    img 
      max-width: 3.5rem;
  
  .blog-card-details
    margin-left: 1rem;

    .blog-card-title
      font-weight: 500;
      font-size: 1.5rem;
      text-decoration: none;
      color: hsla(0, 0%, 0%, 0.8);