$accent-color: #7DE77B;
$accent-color-dark: #73D571;

$second-accent-color: #ff0061;
$third-accent-color: #6b1fff;
$third-accent-color-light: #ae85ff;

$mobile-breakpoint: 850px;

@mixin flex-centered
  display: flex;
  align-items: center;
  justify-content: center;

.align-center
  align-items: center;
  
.justify-center
  justify-content: center;

.wrap
  flex-wrap: wrap;

.flex
  display: flex;