@import '../../../../assets/styles/variables.sass'

.submit-button
  background: $third-accent-color;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s all;
  padding: 0.4rem 1rem 0.4rem 1rem;

  &:hover 
    background: $third-accent-color-light;